.footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

.editor {
  flex: 1 1 auto;
}

.dropbox {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1.5em;
}

.drop-outline {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 0.5em dashed #555555;
  background-image: url('../../static/shippingbin_closed.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.drop-outline:hover {
  cursor: pointer;
  background-image: url('../../static/shippingbin_open.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.drop-outline-dragover {
  background-color: #262627;
  border: 0.5em dashed #606060;
  background-image: url('../../static/shippingbin_open.png');
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 20;
}

.hidden {
  border: none;
  background: none;
}

.loader {
  position: fixed;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-image: url('../../static/junimo.gif');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  text-align: center;
}

.loader > h1 {
  position: fixed;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Pangolin', cursive;
}
