.content-form {
  position: relative;
  margin: 0 auto;
  width: 50%;
  min-width: 50em;
  background-color: #1e1e1e;
  padding: 1em 0.5em 1em 0.5em;
  -webkit-box-shadow: inset 0 0 10px #101010;
  box-shadow: inset 0 0 10px #101010;
  border-radius: 5px;
  font-size: 16px;
  height: 95vh;
}

.manifest-form {
  position: relative;
  background-color: #1e1e1e;
  -webkit-box-shadow: inset 0 0 10px #101010;
  box-shadow: inset 0 0 10px #101010;
  border-radius: 5px;
  width: auto;
  height: auto;
}

.config-form {
  position: relative;
  background-color: #1e1e1e;
  padding: 2px;
  -webkit-box-shadow: inset 0 0 10px #101010;
  box-shadow: inset 0 0 10px #101010;
  border-radius: 5px;
  width: auto;
  height: auto;
}

.form-block,
.field-block {
  position: relative;
  margin: 0 1em 0 1em;
  border-left: 1px solid #454545;
}

.line {
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  padding-left: 1em;
  height: 1.5em;
  line-height: 1.5em;
  width: inherit;
}

pre {
  margin: 0;
  padding: 0;
}

.line:hover {
  background-color: #232323;
}

.line:focus-within {
  background-color: #262626;
  border: none;
  outline: none;
}

.divider {
  position: relative;
  height: 0.75em;
  line-height: 0.75em;
  padding: 0;
  left: 1em;
}

.collapsible {
  font-weight: bold;
  font-style: italic;
  width: 100%;
  cursor: pointer;
}

.block-divider {
  position: relative;
  display: inline-block;
  padding: 0 1em 0 1em;
  height: inherit;
  width: calc(100% - 4em);
  background-color: #181818;
}

input[type],
select {
  box-sizing: border-box;
  margin: 0;
  display: inline-block;
  color: white;
  width: 20em;
  height: 1.5em;
  line-height: 1.5em;
  background-color: #333333;
  border: 1px solid #202020;
  border-radius: 3px;
  outline: none;
  margin-left: 0.5em;
  padding-left: 3px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  width: 10em;
}

.inner-input {
  color: greenyellow;
}

.field-label {
  color: lightskyblue;
  display: inline-block;
  width: 5.5em;
}

.field-input {
  display: inline-block;
}

.inner-field {
  padding-left: 0.5em;
  display: inline;
  color: #71a7ff;
}

.inner-field > input {
  width: 6em;
}

.field-block-control {
  position: absolute;
  line-height: 1.5em;
  z-index: 2;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.more {
  bottom: 0em;
  right: 0.25em;
}

.remove {
  top: 0em;
  right: 0.25em;
  color: dimgray;
}

.add-button {
  height: 1.5em;
}

.add {
  color: white;
  text-align: center;
  width: 100%;
  font-weight: bold;
  background-color: #282828;
  z-index: 0;
}

.add:hover {
  background-color: #333333;
}

.invalid {
  background-color: #3d1919 !important;
}

.invalid .line:hover {
  background-color: #441919 !important;
}

@media (max-width: 1024px) {
  .content-form {
    width: 65%;
    min-width: 30em;
  }
}

@media (max-width: 1024px) {
  .content-form {
    width: 70%;
    height: 90vh;
  }
}
