.app {
  background-color: #252526;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  color: white;
}

.content-editor {
  flex: 1 1 auto;
  padding: 1em;
}

  .content-form {
    position: relative;
    margin: 0 auto;
    width: 50%;
    min-width: 50em;
    height: 95vh;
    background-color: #1e1e1e;
    padding: 0.5em;
  }

    .form-block {
    }

    .line {
      vertical-align: middle;
      height: 1.5em;
      line-height: 1.5em;
      width: 100%;
    }

    .line:hover {
      background-color: dimgrey;
    }

    .field-label {
      text-align: right;
      width: 5em;
    }

  .drop-outline {
    margin: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 0.5em dashed #555555;
  }

  .drop-outline.dragover {
    background-color: #262627;
    border: 0.5em dashed #565656;
  }

  .drop-upload:hover {
    background-image: url('./assets/shippingbin_open.png');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .drop-upload {
    position: relative;
    top: calc(50% - 142.5px);
    background-image: url('./assets/shippingbin_closed.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    width: 225px;
    height: 285px;
    cursor: pointer;
  }

.docs-container {
  display: block;
  flex: 0 50% auto;
  width: auto;
}

  .docs {
    position: relative;
    background-color: #3f3f46 !important;
    height: 100vh;
    width: 100%;
    right: -17px;
  }

  iframe {
    border-radius: 5px;
  }
