.app {
  background-color: #252526;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

.content-editor {
  flex: 1 1 auto;
  padding: 1em;
  font-size: 16px;
}

.content-form {
  position: relative;
  margin: 0 auto;
  width: 50%;
  min-width: 50em;
  height: 95vh;
  background-color: #1e1e1e;
  padding: 1em 0.5em 1em 0.5em;
  -moz-box-shadow: inset 0 0 10px #101010;
  -webkit-box-shadow: inset 0 0 10px #101010;
  box-shadow: inset 0 0 10px #101010;
  border-radius: 5px;
}

.line,
.form-block {
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  padding: 0 1em 0 1em;
  height: 1.5em;
  line-height: 1.5em;
  width: inherit;
}

.line:hover {
  background-color: #232323;
}

.line:focus-within {
  background-color: #262626;
  border: none;
  border-left: 1px solid #454545;
  outline: none;
}

.form-block {
  height: auto;
}

.divider {
  position: relative;
  height: 0.75em;
  line-height: 0.75em;
  padding: 0;
  left: 1em;
}

.collapsible {
  font-weight: bold;
  font-style: italic;
  width: 100%;
  cursor: pointer;
}

.block-border {
  display: inline;
  max-width: 1em;
  margin: 0;
  border-left: 1px solid #454545;
}

.block-divider {
  position: relative;
  display: inline-block;
  padding: 0 1em 0 1em;
  height: inherit;
  width: calc(100% - 4em);
  background-color: #181818;
}

pre {
  margin: 0;
  padding: 0;
  border-left: 1px solid #454545;
}

.line:focus > pre {
  border-left: 1px solid #707070;
}

input[type],
select {
  box-sizing: border-box;
  margin: 0;
  display: inline-block;
  color: white;
  width: 20em;
  height: 1.5em;
  line-height: 1.5em;
  background-color: #333333;
  border: 1px solid #202020;
  border-radius: 3px;
  outline: none;
  margin-left: 0.5em;
  padding-left: 3px;
}

select {
  width: 10em;
}

.inner-input {
  color: greenyellow;
}

.field-label {
  color: lightskyblue;
  display: inline-block;
  padding-left: 1em;
  border-left: 1px solid #454545;
  width: 5em;
}

.field-input {
  display: inline-block;
}

.inner-field {
  padding-left: 0.5em;
  display: inline;
  color: #71a7ff;
}

.inner-field > input {
  width: 6em;
}

.more {
  position: absolute;
  bottom: 0.25em;
  right: 1em;
  z-index: 2;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.remove {
  position: absolute;
  top: 0.25em;
  right: 1em;
  z-index: 2;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  color: dimgrey;
}

.add {
  color: white;
  text-align: center;
  width: 100%;
  font-weight: bold;
  background-color: #282828;
}

.add:hover {
  background-color: #333333;
}

.drop-outline {
  margin: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 0.5em dashed #555555;
  background-image: url('./assets/shippingbin_closed.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.drop-outline:hover {
  cursor: pointer;
  background-image: url('./assets/shippingbin_open.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.drop-outline-dragover {
  background-color: #262627;
  border: 0.5em dashed #606060;
  background-image: url('./assets/shippingbin_open.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.tabs-container {
  display: block;
  flex: 0 50% auto;
  width: auto;
  height: 100vh;
  background-color: #3f3f46 !important;
}

.tab {
  font-family: 'Pangolin', cursive;
  cursor: pointer;
  position: relative;
  font-size: 1.25em;
  font-weight: bold;
  right: -35px;
  padding: 6px 30px 6px 35px;
  margin: 0px 20px 15px -55px;
  color: #eee;
  background-color: #777;
  text-shadow: 0px 1px 2px #333;
}

.tab-active,
.tab:hover {
  background-color: #999;
}

.tab:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #555 #555 transparent transparent;
}

.docs {
  position: relative;
  background-color: #3f3f46 !important;
  height: 100vh;
  width: 100%;
}

iframe {
  border-radius: 5px;
}

.loader {
  position: fixed;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-image: url('./assets/junimo.gif');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  text-align: center;
}

.loader > h1 {
  position: fixed;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Pangolin', cursive;
}

.scrollbar {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: #181818; /* or add it to the track */
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #303030;
}
