.app {
  background-color: #252526;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  color: white;
}

.content-editor {
  flex: 1 1 auto;
  padding: 1em;
  font-size: 16px;
}

  .content-form {
    position: relative;
    margin: 0 auto;
    width: 50%;
    min-width: 30em;
    height: 95vh;
    background-color: #1e1e1e;
    padding: 1em 0.5em 1em 0.5em;
    -moz-box-shadow:    inset 0 0 10px #101010;
    -webkit-box-shadow: inset 0 0 10px #101010;
    box-shadow:         inset 0 0 10px #101010;
    border-radius: 3px;
  }
  
    .line, .form-block {
      box-sizing: border-box;
      position: relative;
      vertical-align: middle;
      padding: 0 1em 0 1em;
      height: 1.5em;
      line-height: 1.5em;
      max-width: inherit;
    }

    .line:hover {
      background-color: #222222;
    }

    .line:focus-within {
      background-color: #282828;
      border: none;
      border-left: 1px solid #454545;
      outline: none;
    }

    .form-block {
      box-sizing: border-box;
      max-width: inherit;
    }

    pre {
      margin: 0;
      padding: 0;
      border-left: 1px solid #454545;
    }

    .line:focus > pre {
      border-left: 1px solid #707070;
    }

    input {
      display: inline-block;
      color: white;
      height: 1.25em;
      max-width: inherit;
      background-color: #151515;
      border: 1px solid #101010;
      border-radius: 2px;
      outline: none;
      margin-left: 0.5em;
      padding-left: 3px;
    }

    .field-label {
      color: lightskyblue;
      display: inline-block;
      padding-left: 1em;
      border-left: 1px solid #454545;
    }
    
    .field-input {
      display: inline-block;
    }

  .drop-outline {
    margin: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 0.5em dashed #555555;
  }

  .drop-outline.dragover {
    background-color: #262627;
    border: 0.5em dashed #565656;
  }

  .drop-upload:hover {
    background-image: url('./assets/shippingbin_open.png');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .drop-upload {
    position: relative;
    top: calc(50% - 142.5px);
    background-image: url('./assets/shippingbin_closed.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    width: 225px;
    height: 285px;
    cursor: pointer;
  }

.docs-container {
  display: block;
  flex: 0 50% auto;
  width: auto;
}

  .docs {
    position: relative;
    background-color: #3f3f46 !important;
    height: 100vh;
    width: 100%;
    right: -17px;
  }

  iframe {
    border-radius: 5px;
  }

.scrollbar {
  display: block;
  overflow-y: auto;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #1e1e1e; /* or add it to the track */
}

/* Add a thumb */
.scrollbar::-webkit-scrollbar-thumb {
    background: #303030;
}